* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    
}

#imagem-lpp{
  width: 300px;
  padding: 30px;
}

body{
  margin: 0;
  background-color: #f0f0f0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(60vh - 80px); /* ajusta altura tirando o header */
  padding-top: 20px;
}


.container{
    background-color: #0052a3;
  padding: 50px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 480px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

#texto1{
  margin-bottom: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 28px;
  color: #f0f0f0;

}

input, select, textarea {
  width: 100%;
    padding: 15px;
    border: 2px solid #003d7a;
    border-radius: 8px;
    background-color: white;
    color: #0056b3;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family: 'Exo 2', sans-serif;
}

button{
  
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 6px 0 #004499, 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}

p{
  color: #f0f0f0;
  font-family: 'Exo 2', sans-serif;
  
}


/* ========================================= */
/* === ESTILOS DO MODAL DE AVISO DE TESTE === */
/* ========================================= */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1000; /* Garante que fica à frente de tudo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.3s;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 500px;
}

.modal-content h2 {
    margin-bottom: 15px;
    color: #0052a3;
    font-family: 'Exo 2', sans-serif;
}

/* Alterado seletor 'p' para ser mais específico e não afetar o formulário */
.modal-content p {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #333; /* Cor do parágrafo dentro do modal */
    font-family: 'Nunito', sans-serif; /* Fonte do parágrafo */
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}



